body {
  font-family: sans-serif;
}

input {
  border-radius: 8px;
  border: none;
  padding: 10px, 16px;
  outline: none;
}

button {
  border-radius: 8px;
  border: none;
  margin-right: 8px;
}

button:hover {
  background: rgb(112, 112, 202);
  color: white;
  cursor: pointer;
}

.input-area {
  background-color: rgb(243, 245, 124);
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.uncompleted-area {
  background-color: rgb(230, 139, 139);
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.completed-area {
  background-color: rgb(150, 238, 197);
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: rgb(63, 63, 63);
}

.list-row {
  display: flex;
  align-items: center;
}

.job-name {
  margin-right: 8px;
}
